// COLORS
$color-white: #FFF;
$color-black: #000000;

$color-error: #ff3b33;
$color-warning: #FF7730;
$color-green: #0ce100;

$color-grey-light-1: #F5F5F5;
$color-grey-light-2: #D7DADB;
$color-grey-light-3: #bfc2c3;
$color-grey-dark-1: #646869;
$color-grey-dark-2: #1e2223;

$color-green-light: #58d75c;
$color-green-dark: #55c359;

$color-blue-light: #47b2f5;
$color-blue-dark: #3ea7e1;

// BORDERS
$border-grey-light: #e1e1e1;

// BOX SHADOWS
$box-shadow-bottom: 0 .2rem .2rem rgba($color-grey-dark-1, .3);
$box-shadow-right: .2rem 0 .2rem rgba($color-grey-dark-1, .3);
$box-shadow-all: .2rem .2rem .2rem rgba($color-grey-dark-1, .3);

// FONTS
$default-font-family: 'Muli', sans-serif;
$default-font-size: 1.5rem;
$default-font-color: $color-grey-dark-1;
$default-header-font-size: 1.4rem;
