@import "../../../sass/variables";

.TableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-light-3;
  }

  .TableSelectRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    height: 5rem;

    .TableCheckboxInput {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .TableDateRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 20rem;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $default-font-color;

    .TransactionDatePickerButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 4rem;
      border: 1px solid $color-white;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $color-white;
      }

      .TransactionDatePickerButtonIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 4rem;
        fill: $color-white;

        &:hover {
          fill: $color-green;
        }
      }
    }
  }

  .ShowTransactionDatePicker {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-white;
    width: 30rem;
    box-shadow: $box-shadow-all;
    margin-left: 0.2rem;
    max-height: 50vh;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: visible;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-grey-light-3;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $color-grey-light-2;
    }
  }

  .TableEnterpriseRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    height: 5rem;
  }

  .TableTypeRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    height: 5rem;
  }

  .TableCategoryRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    height: 5rem;
  }

  .TableTotalRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10%;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-grey-dark-1;
    height: 5rem;
  }
}

.TransparentBackgroundWrapper {
  position: relative;
}

.TransparentBackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}