@import "../../../sass/variables";

.NewTransactionDateSectionFields {
	display: flex;
	flex-direction: row;
	flex-basis: 20%;

	.NewTransactionDateSectionInput {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		font-family: $default-font-family;
		font-size: $default-font-size;
		color: $color-black;
		border: 1px solid $color-white;
		height: 4rem;
		margin-right: 3rem;
		padding-left: 1rem;
		outline: none;
	}
}
