@import "../../sass/variables";

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MonthPicker {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin-bottom: 1rem;

  .MonthPickerPrevious {
  }

  .MonthPickerTitle {
  }

  .MonthPickerNext {
  }
}

.NewTransactionSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  height: 5rem;
  margin-bottom: 1rem;
  background-color: $color-green;

  .NewTransactionSectionButtonSave {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 4rem;
    margin-right: 1rem;
    border: 1px solid $color-white;
    background-color: $color-green;
    color: $color-white;
    font-family: $default-font-family;
    font-size: $default-font-size;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $color-green;
      background-color: $color-white;
      border: 1px solid $color-green;
    }
  }
}

.TableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  background-color: $color-white;
  box-shadow: $box-shadow-all;

  .TableHeaderDateColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 1px solid $color-green;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }

  .TableHeaderEnterpriseColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    border: 1px solid $color-green;
    border-left: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }

  .TableHeaderTypeColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 1px solid $color-green;
    border-left: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }

  .TableHeaderCategoryColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 1px solid $color-green;
    border-left: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }

  .TableHeaderTotalColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 1px solid $color-green;
    border-left: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }

  .TableHeaderMenuColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    border: 1px solid $color-green;
    border-left: 0;
    font-family: $default-font-family;
    font-size: $default-font-size;
    color: $color-green;
    height: 5rem;
    cursor: pointer;
  }
}

.TableRows {
  display: flex;
  width: 95%;
  max-height: 80vh;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: visible;
  background-color: $color-white;
  box-shadow: $box-shadow-all;
  margin-bottom: 2rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-light-3;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-grey-light-2;
  }
}

.TotalColumnTotal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 95%;
  margin-right: 10rem;

  .TotalColumnTotalText {
    font-family: $default-font-family;
    font-size: 1.7rem;
  }
}
