@import "../../sass/_variables";

.Container {
  max-height: 100vh;
  background-color: $color-white;

  .Navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-green;
    box-shadow: $box-shadow-bottom;
    font-family: $default-font-family;
    font-size: $default-font-size;
  }

  .Row {
    display: flex;
    flex-direction: row;

    .Sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 30rem;
      background-color: $color-green;
      box-shadow: $box-shadow-right;
      font-family: $default-font-family;
      font-size: $default-font-size;
      margin-right: 2rem;
    }

    .Content {
      margin-top: 2rem;
      min-height: 100vh;
    }
  }
}