@import "../../sass/_variables";

.Container {
  max-height: 100vh;
  background-color: $color-white;

  .Navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $color-green;
    box-shadow: $box-shadow-bottom;
    margin-bottom: 2rem;
    font-family: $default-font-family;
    font-size: $default-font-size;
  }

  .Content {
    min-height: 100vh;
  }
}