@import '../../sass/variables';

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  flex: 0 0 100%;
  background-color: $color-green;
  box-shadow: $box-shadow-bottom;
  margin-bottom: 2rem;
  font-family: $default-font-family;
  font-size: $default-font-size;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: $logo-font-family;
  font-size: $logo-font-size;
  padding-bottom: 1rem;
  margin-left: 1rem;
  letter-spacing: 2px;
  color: $color-white;
}

.NavigationItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;

    .NavigationItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: $default-font-family;
      font-size: 1.7rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: transparent;
      height: 5rem;

      .NavigationItemLink {
        color: $color-white;
        padding: 0 1rem 0 1rem;

        &:hover {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: $color-green;
          background-color: $color-white;
          height: 5rem;
        }
      }

      .NavigationItemLinkActive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $color-green;
        background-color: $color-white;
        height: 5rem;
      }
    }
  }
}

.UserNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    .ProfileName {
      font-family: $default-font-family;
      font-size: $default-font-size;
      color: $color-white;
    }
  }

  .Settings {
    display: flex;
    flex-direction: row;

    .SettingsButton {
      width: 5rem;
      height: 5rem;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $color-white;
      }

      .SettingsIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        padding: 1rem;
        fill: $color-white;
        background-color: transparent;

        &:hover {
          fill: $color-green;
        }
      }
    }
  }
}