@import '../../sass/variables';

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.TopChart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .IncomesExpensesChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.BottomCharts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .TotalIncomesExpensesChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}