@import "../../sass/variables";

.Logo {
	font-family: $logo-font-family;
	font-size: $logo-font-size;
	padding-bottom: 1rem;
	margin-left: 1rem;
	letter-spacing: 2px;
	color: $color-white;
}

.UserNavigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.Profile {
		margin-right: 1rem;

		.ProfileName {
			font-family: $default-font-family;
			font-size: $default-font-size;
			color: $color-white;
		}
	}

	.Settings {
		display: flex;
		align-items: center;

		.SettingsButton {
			border: none;
			background-color: transparent;
			outline: none;
			cursor: pointer;

			&:hover {
				background-color: $color-white;
			}

			.SettingsIcon {
				width: 3rem;
				height: 3rem;
				padding: 1rem;
				fill: $color-white;
				background-color: transparent;

				&:hover {
					fill: $color-green;
				}
			}
		}
	}
}
