@import "../../sass/variables";

.Logo {
	font-family: $logo-font-family;
	font-size: $logo-font-size;
	padding-bottom: 1rem;
	margin-left: 1rem;
	letter-spacing: 2px;
	color: $color-white;
}

ul {
	display: flex;
	flex-wrap: wrap;

	.NavigationItem {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-family: $default-font-family;
		font-size: 1.7rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		background-color: transparent;

		.NavigationItemLink {
			display: flex;
			align-items: center;
			color: $color-white;
			padding: 0 1rem 0 1rem;
			height: 5rem;

			&:hover {
				display: flex;
				align-items: center;
				color: $color-green;
				background-color: $color-white;
				height: 5rem;
			}
		}

		.NavigationItemLinkActive {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			color: $color-green;
			background-color: $color-white;
			height: 5rem;
		}
	}
}

.UserNavigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.Profile {
		margin-right: 1rem;

		.ProfileName {
			font-family: $default-font-family;
			font-size: $default-font-size;
			color: $color-white;
		}
	}

	.Settings {
		display: flex;
		align-items: center;

		.SettingsButton {
			border: none;
			background-color: transparent;
			outline: none;
			cursor: pointer;

			&:hover {
				background-color: $color-white;
			}

			.SettingsIcon {
				width: 3rem;
				height: 3rem;
				padding: 1rem;
				fill: $color-white;
				background-color: transparent;

				&:hover {
					fill: $color-green;
				}
			}
		}
	}
}
